@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,600&family=Yantramanav:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600;800&family=Boogaloo&family=Overlock:wght@400;700;900&display=swap");
html {
  font-size: 62.5%;
}

/*1rem = 10px*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to top, #fceabb, #f8b500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  width: 150px;
  height: 75px;
  margin: 5px 0 5px 15px;
}

nav {
  color: #393264;
  font-family: "Overlock", cursive;
  font-weight: 900;
  font-style: normal;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 15px 0;
  padding: 15px;
}

.nav-link {
  color: #0c332f;
  font-weight: 650;
  font-size: 1.25rem;
}

main {
  background-color: #f2f3e9;
  width: 100%;
  height: 100%;
}

h1 {
  color: #30303a;
  text-align: center;
  text-decoration-line: underline;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 3.7rem;
  padding: 1rem;
}

h2 {
  color: #211f2e;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 3rem;
  margin: 15px;
  padding: 10px 10px 10px 5px;
  transition: all 0.5s;
}

h2:hover {
  font-size: 3.3rem;
}

h3 {
  color: #211f2e;
}

.inicio__ciudades article {
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100vw;
  height: 55vh;
}

.experiencias .experiencias__imagen {
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 30vw;
  height: 30vh;
}

.experiencias .experiencias__descripcion {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 3rem;
}

.experiencias .experiencias__descripcion h3 {
  font-size: 2rem;
}

.experiencias .experiencias__descripcion p {
  font-size: 1.2rem;
  padding: 1.5rem;
}

.paisesunicos {
  padding: 2rem;
}
.paisesunicos .paisesunicos__videos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 1rem;
  justify-content: space-around;
}
.paisesunicos .paisesunicos__videos h3 {
  margin: 1.5rem;
  font-size: medium;
}
.paisesunicos a {
  color: #211f2e;
}

ul {
  color: #033d27;
}

footer {
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  text-align: center;
  width: 100%;
  height: 100%;
}

footer ul {
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
}

footer ul li {
  display: inline-block;
  padding: 30px 0;
  margin: 15px;
}

.footertexto {
  color: ghostwhite;
  font-size: medium;
  font-weight: 600;
  background-color: #f08c09;
}

span {
  font-size: 1.3rem;
  font-weight: 700;
}

form {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
form button {
  background-color: #04130d;
  color: white;
  border-radius: 0.5rem;
  padding: 5px 10px;
  border: none;
  margin: 1rem;
}
form label {
  font-size: 2rem;
}
form input,
form form textarea {
  background-color: #31615b;
  padding: 0.75rem;
  border-radius: 0.7rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
  color: #f8f7f7;
}

form div {
  margin: 0.5rem;
}
form .formtitulo {
  margin: 2.5rem;
  text-align: center;
}
form .col-md-auto {
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

/*--------INICIO Pagina Experiencias-------------*/
.experiencia h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.experiencia h3 {
  font-size: 3rem;
  font-weight: 600;
}

.experiencia h4 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.experiencia p {
  text-align: center;
  font-size: 1.2rem;
  color: #172c2c;
  font-weight: 400;
  margin: 2.5rem;
  padding: 1.5rem;
}

.seccionrecomendaciones img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

/*--------FIN Pagina Experiencias-------------*/
